
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.VC.db
*.VC.opendb

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.idb
*.pdb
*.ipch
*.obj
*.tlog
*.pch
*.ilk

*.exe
*.dll
*.lib
*.a

*.nupkg
packages/
*.psmdcp

*.cache
*.tmp
*.log
*.bak
*~